@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
section{
    width: 60vh;
    margin: 120px auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: black;
    height: 50vh;
    box-shadow: 0px 0px 8px 3px rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
}

section h2{
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Eczar', serif;
    font-size: 35px;
    text-transform: uppercase;
}

span{
    color: #fff;
    font-family: 'Eczar', serif;
    font-size: 60px;
}

.btn{
    display: inline-block;
    padding: 8px;
    margin: 20px 10px;
    border-radius: 10px;
    font-family: 'Eczar', serif;
    font-size: 15px;
    text-transform: uppercase;
}

.btn:active{
    transform: translateY(8px);
}

.decrease{
    background-color: red;
    color: white;
}
.increase{
    background-color: green;
    color: white;
}
.reset{
    background-color: white;
    color: black;
}

.decrease:hover{
    cursor: pointer;
    background-color: white;
    color: red;
    transition: linear .2s;
}
.increase:hover{
    cursor: pointer;
    background-color: white;
    color: green;
    transition: linear .2s;
}
.reset:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: linear .2s;
}

footer{
    color: #fff;
    text-align: center;
    font-family: 'Eczar', serif;
}


